@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
/* VARIABLES */
/* GENERAL */
html {
  scroll-behavior: smooth;
  width: 99.5%;
  height: 100%;
  margin: -5px 0 0 -5px;
}

body {
  margin-top: 40px;
  width: 100%;
  height: 86%;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  background-color: #000;
}
body ul li {
  list-style: none;
}
body a, body a:visited, body a:hover {
  text-decoration: none;
  transition: all 0.2s ease;
  color: #4c4b4e;
  font-weight: bold;
}
body a:hover {
  color: #FFF;
}

/* HEADER */
header {
  padding: 20px 0 10px 0;
  position: fixed;
  top: 0;
  margin: -5px 0 0 0;
  display: flex;
  border-bottom: 1px solid #4c4b4e;
  text-align: center;
  justify-content: center;
  width: 100%;
  z-index: 999;
  background-color: #000;
}
header ul li {
  display: inline;
  margin-right: 10px;
}
header a, header a:visited {
  color: #4c4b4e;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
}
header a:hover {
  text-decoration: none;
  color: #FFF;
  border-bottom: 2px solid #8257e5;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0px;
  padding-left: 5px;
  border-top: 1px solid #4c4b4e;
  width: 99.2%;
  color: #4c4b4e;
  background-color: #000;
}

/* HOME */
.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url(/images/bg.jpg?8cfde26bf8bc30beeb0fec63168472ec);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .title {
  font-size: 42pt;
  margin-top: -20px;
  margin-bottom: -20px;
}
.banner p {
  font-size: 26pt;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.profile-title {
  margin-top: 160px;
  margin-left: 50px;
  font-size: 21pt;
  justify-self: center;
}

.profile-subsec {
  display: flex;
}

.profile-pic {
  height: 302px;
  width: 302px;
  border-radius: 151px;
  margin-right: 32px;
}

.profile-description {
  width: 420px;
  text-align: justify;
}

/* CONTACT */
.contact {
  display: flex;
  margin-top: 100px;
  width: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.message p {
  font-size: 16pt;
  margin-bottom: 30px;
}
.message input {
  margin: 5px 0 20px 0;
  width: 90%;
}
.message #mensagem {
  width: 90%;
  height: 80px;
}
.message button {
  margin: 15px 0 30px 20px;
}

.contact-form {
  border: 1px solid #FFF;
  box-shadow: #4c4b4e;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.links .link-item {
  display: flex;
  margin-bottom: 25px;
}
.links .link-item img {
  margin-right: 20px;
  width: 42px;
  height: 42px;
}
.links .link-item a, .links .link-item p {
  margin-top: 10px;
}

/* ADMIN LOGIN */
.login-box {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #FFF;
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.login-box input {
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
}
.login-box label {
  margin-left: 40px;
}
.login-box button {
  margin-top: 40px;
  margin-left: 100px;
}
.login-box p {
  margin-left: 16px;
  font-size: 14pt;
  text-decoration: underline;
}

/* PORTFOLIO */
.portfolio {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  align-items: center;
  padding-right: 25px;
}
.portfolio .post-list {
  margin-top: -30px;
}
.portfolio .post-list .post-title .category {
  border: 1px solid #FFF;
  border-radius: 15px;
  width: 100px;
  text-align: center;
}
.portfolio .post-list li p {
  text-align: justify;
  margin-bottom: 60px;
}
.portfolio .post-list li img {
  width: 100%;
  height: 200px;
}

/* ADMIN HOME */
.admin-home a {
  margin-left: 40px;
}

.post-title {
  display: inline;
}
